<main class="flex flex-col gap-2">
    <h1>{{ title }}</h1>
    <p class="mb-6">{{ description }}</p>
   
    <app-label-input 
      label="Immatriculation" 
      [value]="immatriculation" 
      (valueChange)="immatriculation = $event" 
      placeholder="AA-123-BB" 
      type="text">
    </app-label-input>
  
    <app-label-input 
      label="Marque" 
      [value]="marque" 
      (valueChange)="marque = $event" 
      placeholder="Peugeot" 
      type="text">
    </app-label-input>
  
    <app-label-input 
      label="Modèle" 
      [value]="modele" 
      (valueChange)="modele = $event" 
      placeholder="108" 
      type="text">
    </app-label-input>
  
    <app-selector-form 
      label="Catégorie" 
      [options]="['SUV', 'Berline', 'Coupé', 'Hatchback', 'Cabriolet', 'Break', 'Monospace', 'Pickup', 'Van', '4x4']" 
      placeholder="Sélectionnez la catégorie" 
      [(value)]="categorie">
    </app-selector-form>
  
    <app-label-input 
      label="Lien de la photo" 
      [value]="lien" 
      (valueChange)="lien = $event" 
      placeholder="https://image.com/308" 
      type="text">
    </app-label-input>
  
    <app-selector-form 
      label="Nombre de places" 
      [options]="['2', '3', '4', '5', '6', '7', '8']" 
      placeholder="Sélectionnez le nombre de places" 
      [(value)]="places">
    </app-selector-form>
  
    <app-selector-form 
      label="Motorisation" 
      [options]="['Essence', 'Diesel', 'Hybride', 'Électrique']" 
      placeholder="Sélectionnez la motorisation" 
      [(value)]="motorisation">
    </app-selector-form>
  
    <app-label-input 
      label="CO2/km" 
      [value]="co2" 
      (valueChange)="co2 = $event" 
      placeholder="95" 
      type="text">
    </app-label-input>
  
    <div *ngIf="showStatusOptions" class="flex flex-col gap-2">
      <p>Statut:</p>
      <app-radiobuttons [(selectedValue)]="status"></app-radiobuttons>
    </div>
    <p *ngIf="!showStatusOptions">Statut: en service</p>
  
    <section class="flex justify-evenly">
      <app-button [bgBtn]="'bg-app-primary'" (click)="onSubmit()">
        <span message-button>Valider</span>
      </app-button>
  
      <app-button [bgBtn]="'bg-app-danger'" (click)="onCancel()">
        <span message-button>Annuler</span>
      </app-button>
    </section>
  </main>
  