<h1>Reserver votre :</h1>
<h2 class="text-app-secondary text-2xl font-medium">Nissan Yaris</h2>
<img src="/assets/vehicles/Toyota-Aygo 2.svg">
<h3>Description</h3>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates error repellat reiciendis perspiciatis expedita? Sequi, ad laboriosam. Doloremque, eius natus alias quod soluta, enim modi, ratione nemo eos architecto corporis?</p>
<h3>Plus de détails</h3>
<!-- ajouter composant table -->
 <h3>Réserver</h3>
 <h4>Date</h4>
 <app-calendar></app-calendar>
 <app-time-selector></app-time-selector>
 <app-button ><ng-content message-button>Réserver</ng-content></app-button>


