<section class="flex flex-col gap-6">
    <h1>Modifier l'annonce de covoiturage</h1>
    <form class="">
        <div class="">
            <label for="date" class="">Modifier la date</label>
            <input type="text" id="date" placeholder="21 Mars">
        </div>
        <div class="">
            <label for="departure">Modifier le lieu de départ</label>
            <input type="text" id="departure" placeholder="Montpellier">
        </div>
        <div class="">
            <label for="arrival">Modifier le lieu d'arrivée</label>
            <input type="text" id="arrival" placeholder="Paris">
        </div>
    </form>
    <div class="flex justify-around">
        <button class="bg-app-primary">Valider</button>
        <button class="bg-app-danger">Annuler</button>
    </div>
</section>
