<section *ngIf="detailsVehicle">
    <h1 class="mb-6">{{ detailsVehicle?.brandLabel }} {{ detailsVehicle?.modelLabel }}</h1>
    <img class="max-w-full lg:max-w-[500px]" [src]="detailsVehicle?.photo" alt="Photo de la voiture" height="100%">
  
    <table class="min-w-full mt-2 mb-6">
      <tbody>
        <tr>
          <td>ID</td>
          <td>{{ detailsVehicle?.vehicleId }}</td>
        </tr>
        <tr>
          <td>Immatriculation</td>
          <td>{{ detailsVehicle?.registration }}</td>
        </tr>
        <tr>
          <td>Marque</td>
          <td>{{ detailsVehicle?.brandLabel }}</td>
        </tr>
        <tr>
          <td>Modèle</td>
          <td>{{ detailsVehicle?.modelLabel }}</td>
        </tr>
        <tr>
          <td>Nb place</td>
          <td>{{ detailsVehicle?.carSeatNumber }}</td>
        </tr>
        <tr>
          <td>Catégorie</td>
          <td>{{ detailsVehicle?.categoryLabel }}</td>
        </tr>
        <tr>
          <td>Type</td>
          <td>{{ detailsVehicle?.motorizationLabel }}</td>
        </tr>
        <tr>
          <td>CO2/km</td>
          <td>{{ detailsVehicle?.cO2emission }}</td>
        </tr>
      </tbody>
    </table>
  </section>
  