<main class="flex flex-col gap-3">
    <h1>Réservation pour le véhicule(ID vehicule)</h1>
    <p>Peugeot 3008</p>
    <p>TH-767-PL</p>
    <app-button ><span message-button>voir le véhicule</span></app-button>
    <app-tabs class="mb-6"></app-tabs>
    <section class="flex flex-wrap gap-x-5 justify-center">
        <app-card-reservation></app-card-reservation>
        <app-card-reservation></app-card-reservation>
        <app-card-reservation></app-card-reservation>
        <app-card-reservation></app-card-reservation>
        <app-card-reservation></app-card-reservation>
        <app-card-reservation></app-card-reservation>
        <app-card-reservation></app-card-reservation>
        <app-card-reservation></app-card-reservation>
    </section>
    <app-number-page></app-number-page>
</main>

