<section class="flex flex-col gap-3">
  <h1>Réservation pour le véhicule(ID vehicule)</h1>
  <p>Peugeot 3008</p>
  <p>TH-767-PL</p>
  <app-button
    ><ng-content message-button>voir le véhicule</ng-content></app-button
  >
  <app-tabs></app-tabs>
  <section class="box-rental-list my-8">
    <app-card-reservation></app-card-reservation>
    <app-card-reservation></app-card-reservation>
    <app-card-reservation></app-card-reservation>
    <app-card-reservation></app-card-reservation>
    <app-card-reservation></app-card-reservation>
    <app-card-reservation></app-card-reservation>
    <app-card-reservation></app-card-reservation>
    <app-card-reservation></app-card-reservation>
  </section>

  <app-number-page></app-number-page>
</section>
