<main>
    <h1>Mes réservations de covoiturages</h1>

    <p class="mb-6">Voici la liste de toutes vos réservations de covoiturages</p>

    <app-tabs></app-tabs>

    <div class="text-xs text-app-text mb-4 mt-4">14 covoiturages</div>

    <section class="flex flex-wrap gap-6">
        <app-card-annonce-covoit></app-card-annonce-covoit>
        <app-card-annonce-covoit></app-card-annonce-covoit>
        <app-card-annonce-covoit></app-card-annonce-covoit>
        <app-card-annonce-covoit></app-card-annonce-covoit>
        <app-card-annonce-covoit></app-card-annonce-covoit>
        <app-card-annonce-covoit></app-card-annonce-covoit>
        <app-card-annonce-covoit></app-card-annonce-covoit>
    </section>
    
    <app-number-page class="mt-4"></app-number-page>

</main>


