<section class="gap3">
  <h1 class="mb-6">Liste des véhicules de service</h1>

  <p>Rechercher un nouveau véhicule</p>

  <form>
    <div>
      <label for="immatriculation">Immatriculation</label>
      <input type="text" id="immatriculation" placeholder="AA-123-BB" />
    </div>
    <div>
      <label for="marque">Marque</label>
      <input type="text" id="marque" placeholder="Peugeot" />
    </div>
  </form>

  <div class="flex space-x-3 mt-6">
    <button class="bg-app-primary">Chercher</button>
  </div>

  <section class="flex flex-wrap gap-6 my-8">
    @for (vehicle of vehicles; track $index) {
      <app-vehicle-list
      [vehicleId]="vehicle.vehicleId"
      [registration]="vehicle.registration"
      [brand]="vehicle.brandLabel"
      [photo]="vehicle.photo"

      >

      </app-vehicle-list>
    }
  </section>

  <app-number-page></app-number-page>
</section>
