.alertModal { 
  display: none;
  top: 16px;
}

.alertModal.show { 
  display: inline-block;
  position: sticky;
  animation:slide-in-top .8s cubic-bezier(.25,.46,.45,.94) both
}

.alertModal.hidden {
  animation:slide-out-top .7s cubic-bezier(.55,.085,.68,.53) both
}

@keyframes slide-in-top{0%{transform:translateY(-1000px);opacity:0}100%{transform:translateY(0);opacity:1}}
@keyframes slide-out-top{0%{transform:translateY(0);opacity:1}100%{transform:translateY(-1000px);opacity:0}}