<main class="gap-3">
    <h1>Chercher un covoiturage</h1>

    <p class="mb-6">Lorem ipsum dolor amet</p>

    <button class="'bg-app-primary'">Chercher</button>

    <div class="text-xs text-app-text mb-4">54 covoiturage</div>
    
    <section class="flex flex-wrap gap-x-6">
        <app-card-annonce-covoit></app-card-annonce-covoit>
        <app-card-annonce-covoit></app-card-annonce-covoit>
        <app-card-annonce-covoit></app-card-annonce-covoit>
        <app-card-annonce-covoit></app-card-annonce-covoit>
        <app-card-annonce-covoit></app-card-annonce-covoit>
        <app-card-annonce-covoit></app-card-annonce-covoit>
        <app-card-annonce-covoit></app-card-annonce-covoit>
    </section>

    <app-number-page></app-number-page>
</main>
