<section class="gap-3">
  <h1>Chercher un covoiturage</h1>

  <p class="mb-6">Lorem ipsum dolor amet</p>

  <form class="flex flex-col gap-6">
    <label for="departure">Départ</label>
    <input type="text" id="departure" placeholder="Montpellier" />

    <label for="arrival">Destination</label>
    <input type="text" id="arrival" placeholder="Paris" />

    <label for="number-passengers">Nombre de passager</label>
    <input type="text" id="number-passengers" />
  </form>

  <app-calendar></app-calendar>

  <button class="bg-app-primary">Chercher</button>

  <div class="text-xs text-app-text mt-4 mb-4">54 covoiturage</div>

  <section class="container-card">
    <app-card-annonce-covoit></app-card-annonce-covoit>
    <app-card-annonce-covoit></app-card-annonce-covoit>
    <app-card-annonce-covoit></app-card-annonce-covoit>
    <app-card-annonce-covoit></app-card-annonce-covoit>
    <app-card-annonce-covoit></app-card-annonce-covoit>
    <app-card-annonce-covoit></app-card-annonce-covoit>
    <app-card-annonce-covoit></app-card-annonce-covoit>
  </section>

  <app-number-page class="mt-4"></app-number-page>
</section>
