<article class="box-card p-3">
  <p>
    Réservation faite par : <span class="text-app-secondary">John Doe</span>
  </p>

  <section class="text-app-text-light text-xs ml-2 mt-2">
    <section class="flex py-2 items-center gap-x-[30px]">
      <div class="flex gap-2 items-center">
        <img src="/icons/calendar.svg" alt="" height="30px" />
        <p>vendredi 24 mai</p>
      </div>

      <div class="h-5 w-[1px] bg-app-text-light"></div>

      <section class="flex gap-2 items-center">
        <img src="/icons/timer.svg" alt="" class="" />
        <p>13h57</p>
      </section>
    </section>

    <section class="flex py-2 items-center gap-x-[30px]">
      <div class="flex gap-2 items-center">
        <img src="/icons/calendar.svg" alt="" class="" />
        <p>vendredi 24 mai</p>
      </div>
      <div class="h-5 w-[1px] bg-app-text-light"></div>
      <section class="flex gap-2 items-center">
        <img src="/icons/timer.svg" alt="" class="" />
        <p>13h57</p>
      </section>
    </section>
  </section>
</article>
