<article class="box-card">
  <img src="assets/vehicles/imagevoiture.svg" alt="Photo du vehicule" width="100%">
  
  <section class="py-2 px-4 flex gap-x-6 items-center justify-between">
    <div>
      <p>Monptellier</p>
      <p class="text-xs">Toyoto Rav 4</p>
      <p class="text-app-secondary text-xs mt-2">Essence</p>
    </div>

    <div class="flex gap-x-5">
      <app-button>
        <ng-content message-button>Modifier</ng-content>
      </app-button>

      <app-button [bgBtn]="'bg-app-danger'" >
        <ng-content message-button>Annuler</ng-content>
      </app-button>
    </div>
  </section>
</article>
