<div class="bottom-bar bg-white py-3 border-t border-app-border bg-white:hidden md:hidden">
  <ul class="flex justify-around text-app-primary gap-3">
    <li>
      <img src="icons/carpool.svg" alt="" width="30px" height="30px">
      <a>Covoiturage</a>
    </li>
    <li>
      <img src="icons/add-carpool.svg" alt="" width="30px" height="30px">
      <a>Publier</a>
    </li>
    <li>
      <img src="icons/rental-vehicle.svg" alt="" width="30px" height="30px">
      <a >Reserver</a>
    </li>
    <li>
      <img src="icons/phone-bar.svg" alt="" width="30px" height="30px">
      <a>SAV</a>
    </li>
  </ul>
</div>
