<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<main class="main">
  <app-navbar></app-navbar>

  <app-login-page></app-login-page>
  <app-alert [message]="'Titre du parent'" [typeAlert]="'alert'"></app-alert>
  <app-card-carpool-historic></app-card-carpool-historic>
  <app-card-annonce-covoit></app-card-annonce-covoit>
  <app-car-card></app-car-card>
  <app-card-reservation></app-card-reservation>
  <app-card-list-rental-vehicle></app-card-list-rental-vehicle>
  <app-card-user-rental></app-card-user-rental>
  <app-modal-base></app-modal-base>
  <app-modal-cancel-carpool></app-modal-cancel-carpool>
  <app-carpool-card-details></app-carpool-card-details>
  <app-number-page></app-number-page>
  <app-time-selector></app-time-selector>
  <app-bottom-bar></app-bottom-bar>
  <app-footer></app-footer>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet />
