<main class="gap-3 d-flex flex-wrap">

    <app-tabs></app-tabs>

    <h1 class="mt-4">Mes véhicules réservés</h1>

    <p class="mb-6">Lorem ipsum dolor amet</p>

    <section class="flex flex-wrap gap-x-6">
        <app-card-list-rental-vehicle></app-card-list-rental-vehicle>
        <app-card-list-rental-vehicle></app-card-list-rental-vehicle>
        <app-card-list-rental-vehicle></app-card-list-rental-vehicle>
        <app-card-list-rental-vehicle></app-card-list-rental-vehicle>
    </section>

    <app-number-page></app-number-page>

</main>
