<main class="gap-3 mt-[70px]">
  <h1 class="mt-4">Mes véhicules réservés</h1>
  <p class="mb-6">Lorem ipsum dolor amet</p>
  <app-tabs></app-tabs>

  <section class="flex flex-wrap gap-6">
    <app-card-list-rental-vehicle></app-card-list-rental-vehicle>
    <app-card-list-rental-vehicle></app-card-list-rental-vehicle>
    <app-card-list-rental-vehicle></app-card-list-rental-vehicle>
    <app-card-list-rental-vehicle></app-card-list-rental-vehicle>
  </section>

  <app-number-page class="mt-4"></app-number-page>
</main>
