@if (responseValid == undefined) {
<app-spinner></app-spinner>
} @else if (!responseValid) {
<div class="flex flex-col items-center gap-y-[32px]">
  <img class="max-w[550px] max-h[550px]"
    src="https://as2.ftcdn.net/v2/jpg/04/32/24/07/1000_F_432240759_09wXk4H6yyDzqJZvIkiBN0KWrCJhHyb7.jpg"
    alt="Image d'un véhicule cassé" height="550px" width="550px">
  <h1>Le véhicule que vous recherchez semble introuvable, vous allez être redirigé vers la liste des véhicules</h1>
</div>
}
@else {
<section>

  <h1 class="mb-6 ">
    {{ detailsVehicle?.brandLabel }} {{ detailsVehicle?.modelLabel }}
  </h1>
  <img class="max-w-full lg:max-w-[600px]" src="{{ detailsVehicle?.photo }}" alt="Photo de la voiture" height="100%" />

  <table class="min-w-full mt-2 mb-6">
    <tbody>
      <tr>
        <td>ID</td>
        <td>{{ detailsVehicle?.vehicleId }}</td>
      </tr>
      <tr>
        <td>Immatriculation</td>
        <td>{{ detailsVehicle?.registration }}</td>
      </tr>
      <tr>
        <td>Marque</td>
        <td>{{ detailsVehicle?.brandLabel }}</td>
      </tr>
      <tr>
        <td>Modèle</td>
        <td>{{ detailsVehicle?.modelLabel }}</td>
      </tr>
      <tr>
        <td>Nb place</td>
        <td>{{ detailsVehicle?.carSeatNumber }}</td>
      </tr>
      <tr>
        <td>Catégorie</td>
        <td>{{ detailsVehicle?.categoryLabel }}</td>
      </tr>
      <tr>
        <td>Type</td>
        <td>{{ detailsVehicle?.motorizationLabel }}</td>
      </tr>
      <tr>
        <td>CO2/km</td>
        <td>{{ detailsVehicle?.cO2emission }}</td>
      </tr>
    </tbody>
  </table>

  <a routerLink="/admin/vehicle-reservations">Liste des réservations</a>

  <div class="mt-6">
    <button class="bg-app-primary mr-6"><a
        routerLink="/admin/modifier-vehicule/{{ detailsVehicle?.vehicleId }}">Modifier</a></button>
    <button class="bg-app-danger" (click)="removeVehicle(id)">Supprimer</button>
  </div>
</section>
}