<main class="mt-[70px]">
  <h1 class="mb-6">Mes covoiturages</h1>

  <p>Voici les covoiturages que vous avez organisé</p>

  <a
    href="#"
    class="text-xs text-app-text mb-3 underline cursor-pointer active:text-blue-500"
    >Organiser un nouveau covoiturage</a
  >

  <app-tabs></app-tabs>

  <div class="text-xs text-app-text mb-4 mt-4">32 covoiturages</div>

  <section class="flex flex-wrap gap-6">
    <app-card-carpool-historic></app-card-carpool-historic>
    <app-card-carpool-historic></app-card-carpool-historic>
    <app-card-carpool-historic></app-card-carpool-historic>
    <app-card-carpool-historic></app-card-carpool-historic>
    <app-card-carpool-historic></app-card-carpool-historic>
    <app-card-carpool-historic></app-card-carpool-historic>
    <app-card-carpool-historic></app-card-carpool-historic>
    <app-card-carpool-historic></app-card-carpool-historic>
  </section>

  <app-number-page class="mt-4"></app-number-page>
</main>
