<main>
    <h1 class="mb-6">Mes covoiturages</h1>

    <p>Voici les covoiturages que vous avez organisé</p>

    <div class="text-xs text-app-text mb-4 underline cursor-pointer active:text-blue-500">Organiser un nouveau covoiturage</div>

    <app-tabs></app-tabs>

    <div class="text-xs text-app-text mb-4 mt-4">32 covoiturages</div>

    <section class="flex flex-wrap gap-x-6">
        <app-card-carpool-historic></app-card-carpool-historic>
        <app-card-carpool-historic></app-card-carpool-historic>
        <app-card-carpool-historic></app-card-carpool-historic>
        <app-card-carpool-historic></app-card-carpool-historic>
        <app-card-carpool-historic></app-card-carpool-historic>
        <app-card-carpool-historic></app-card-carpool-historic>
        <app-card-carpool-historic></app-card-carpool-historic>
        <app-card-carpool-historic></app-card-carpool-historic>
    </section>

    <app-number-page></app-number-page>

</main>

