<article class="max-w-[385px] bg-white rounded-lg shadow-card overflow-hidden p-4 flex flex-col gap-6">
  <p>
    Réservation faite par: <span class="text-app-secondary">John Doe</span>
  </p>
  <section class="text-app-text-light flex flex-col gap-4">
    <section class="flex justify-evenly">
      <section class="flex gap-3">
        <img src="/icons/calendar.svg" alt="" class="" />
        <p>vendredi 24 mai</p>
      </section>

      <div class="h-5 w-[1px] bg-app-text-light"></div>

      <section class="flex gap-3">
        <img src="/icons/timer.svg" alt="" class="" />
        <p>13h57</p>
      </section>
    </section>

    <section class="flex justify-evenly">
      <section class="flex gap-3">
        <img src="/icons/calendar.svg" alt="" class="" />
        <p>vendredi 24 mai</p>
      </section>

      <div class="h-5 w-[1px] bg-app-text-light"></div>

      <section class="flex gap-3">
        <img src="/icons/timer.svg" alt="" class="" />
        <p>13h57</p>
      </section>
    </section>
  </section>
</article>
