<article class="box-card">
  <p class="text-right text-xs pt-2 pr-2">lundi 21 janvier</p>

  <section class="flex justify-between px-2">
    <img src="/assets/persons/person1.svg" class="h-20 w-20" />

    <section class="flex flex-col w-3/4">
      <p class="text-app-secondary">John Doe</p>
      <p class="text-xs text-app-text-light">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam ex facere
        eaque quo aut minus vel quisquam qui
      </p>
    </section>
  </section>

  <section class="flex justify-between p-2 items-center border-b border-app-border">
    <section>
      <p>13h57 Montpellier Saint-Roch</p>
      <p>18h08 Paris Gare de Lyon</p>
    </section>

    <a href="" class="text-app-secondary underline text-xs">Voir plus</a>
  </section>

  <app-card-bottom></app-card-bottom>
</article>
