<header
  class="min-h-[70px] flex items-center justify-between border-b border-app-border bg-white fixed z-10 top-0 w-full"
>
  <a routerLink=""
    ><img
      class="logo"
      src="EcoMove-Logo.svg"
      alt="Logo de l'application"
      height="41"
  /></a>

  <nav class="">
    <svg
      class="lg:hidden"
      xmlns="http://www.w3.org/2000/svg"
      width="30px"
      height="30px"
      viewBox="0 0 24 24"
    >
      <path
        fill="currentColor"
        fill-rule="evenodd"
        d="M3.5 5a1 1 0 0 0 0 2h17a1 1 0 1 0 0-2zm-1 7a1 1 0 0 1 1-1h17a1 1 0 1 1 0 2h-17a1 1 0 0 1-1-1m0 6.001a1 1 0 0 1 1-1h17a1 1 0 1 1 0 2h-17a1 1 0 0 1-1-1"
        clip-rule="evenodd"
      />
    </svg>

    <div class="navigation hidden">
      <!-- En fonction du role, cette partie ne sera pas la même -->
      <ng-content select="[nav-by-role]"></ng-content>
    </div>
  </nav>
</header>
