<section class="px-20 h-screen">
  <h1 class="pt-32 mb-10">Connectez vous</h1>
  <form
    class="flex flex-col w-1/3"
    (submit)="onLogin(loginForm)"
    #loginForm="ngForm"
  >
    <div class="form-group flex flex-col">
      <label for="email">Email :</label>
      <input
        type="email"
        name="email"
        placeholder="Email"
        [ngModel]="email"
        required
        class="p-3 border-2 rounded-lg focus:border-blue-500 focus:border-2 focus:outline-none focus:bg-blue-100"
      />
    </div>
    <div class="form-group flex flex-col">
      <label for="password">Mot de passe : </label>
      <input
        type="password"
        name="password"
        [ngModel]="password"
        required
        placeholder="Mot de passe"
        class="p-3 border-2 rounded-lg focus:border-blue-500 focus:border-2 focus:outline-none focus:bg-blue-100"
      />
    </div>
    <div class="form-group">
      <button class="bg-app-primary btn-primary">Se connecter</button>
    </div>
  </form>
</section>
