section {
  background-image: url("/assets/background-images/login-bg-image.svg");
  /* background-attachment: fixed; */
  background-size: contain;
}

.invalid {
  border: 2px solid red;
  background-color: #fee2e2;
}

.valid {
  border: 2px solid green;
  background-color: #ecfccb;
}
