section {
  background-image: url("/assets/background-images/login-bg-image.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
}

.invalid {
  border: 2px solid red;
  background-color: #fee2e2;
}

.valid {
  border: 2px solid green;
  background-color: #ecfccb;
}

section {
  padding: 32px 0px 215px;
}
