<section class=" md:h-screen lg:p-0 lg:m-[-32px] my-[-38px] mx-[-32px]">
  <app-alert #alertModal></app-alert>
  <h1 class=" pl-8 lg:pt-36 mb-8">Connectez vous</h1>
  <form class="px-8 flex flex-col lg:max-w-[600px]" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group flex flex-col">
      <label for="email">Email :</label>
      <input type="email" name="email" placeholder="Email" class="base-input" formControlName="email" [class.invalid]="
          loginForm.get('email')?.invalid &&
          (loginForm.get('email')?.dirty ||
            loginForm.get('email')?.touched ||
            isSubmitted)
        " [class.valid]="
          loginForm.get('email')?.valid &&
          (loginForm.get('email')?.dirty ||
            loginForm.get('email')?.touched ||
            isSubmitted)
        " required />
      @if (loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty ||
      loginForm.get('email')?.touched || isSubmitted)) {
      <span class="mt-2 text-xs font-medium text-red-600 dark:text-red-400">
        Veuillez entre une adresse email valide.</span>
      }
    </div>
    <div class="form-group flex flex-col">
      <label for="password">Mot de passe : </label>
      <input type="password" name="password" placeholder="Mot de passe" class="base-input" formControlName="password"
        [class.invalid]="
          loginForm.get('password')?.invalid &&
          (loginForm.get('password')?.dirty ||
            loginForm.get('password')?.touched ||
            isSubmitted)
        " [class.valid]="
          loginForm.get('password')?.valid &&
          (loginForm.get('password')?.dirty ||
            loginForm.get('password')?.touched ||
            isSubmitted)
        " required />
      @if (loginForm.get('password')?.invalid &&
      (loginForm.get('password')?.dirty || loginForm.get('password')?.touched ||
      isSubmitted)) {
      <span class="mt-2 text-xs font-medium text-red-600 dark:text-red-400">
        Veuillez entrer un mot de passe valide</span>
      }
    </div>
    <div class="form-group">
      <button type="submit" class="bg-app-primary btn-primary">
        Se connecter
      </button>
    </div>
  </form>
</section>