/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --primary-color: #007e33;
  --secondary-color: #01579b;
  --terciary-color: #ffffff;
  --background-color: #f6f6f6;
  --text-color: #000e14;
  --border-color: #d6d9e0;
  --alert-color: #ffc107;
  --danger-color: #e53935;
  --text-light-color: #9b9b9b;
  --primary-font: "Poppins", sans-serif;
}

body {
  font-family: var(--primary-font);
  color: var(--text-color);
  font-size: 16px;
}

h1 {
  font-size: 32px;
  font-weight: 700;
}

h2 {
  font-size: 24px;
  font-weight: 600;
}

h3 {
  font-size: 22px;
  font-weight: 400;
}

.logo {
  height: 41px;
  width: 106px;
}