<div
  class=" mx-auto bg-white rounded-lg shadow-md overflow-hidden p-5 flex flex-col gap-3"
>
  <small class="ml-auto">lundi 21 janvier</small>
  <section class="flex justify-between">
    <img src="/assets/person1.svg" class="h-20 w-20" />
    <section class="flex flex-col w-3/4">
      <p class="text-app-secondary">John Doe</p>
      <p class="text-xs text-app-text-light">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam ex facere
        eaque quo aut minus vel quisquam qui
      </p>
    </section>
  </section>
  <section class="flex justify-between">
    <section>
      <p>13h57 Montpellier Saint-Roch</p>
      <p>18h08 Paris Gare de Lyon</p>
    </section>
    <a href="" class="text-app-secondary underline">Voir plus</a>
  </section>

  <div class="bg-app-text-light h-[1px]"></div>
  <app-card-bottom></app-card-bottom>
  
</div>
